.banner {
  margin-left: -9%;
  width: 101vw;
  display: flex;
  align-items: center;
  background: var(--secondary-color-2);
  padding: 6rem;
}
.banner-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}
.banner-info h1 {
  font-weight: normal;
  font-size: 48px;
  color: var(--primary-color-2);
  font-family: DM Serif Display;
}
.banner-info p {
  color: var(--primary-color-2);
  font-size: 15px;
  opacity: 0.7;
  width: 85%;
  line-height: 28px;
}

@media screen and (max-width: 1024px) {
  .banner {
    flex-direction: column-reverse;
    padding: 4rem;
  }
  .banner-info {
    width: 100%;
    margin-top: 3rem;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 4rem 1rem;
    width: 108vw;
  }
  .banner-info {
    gap: 1rem;
  }
  .banner-info h1 {
    font-size: 32px;
  }
  .banner-info p {
    font-size: 15px;
  }
}
