* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Public Sans;
}
:root {
  --primary-color-1: #ba4270;
  --primary-color-2: #fbfcfe;
  --secondary-color-1: #36536b;
  --secondary-color-2: #1b262f;
  --secondary-color-3: #da6d97;
  --secondary-color-4: #6c8294;
}
body {
  margin-top: 3rem;
  background: lightsteelblue;
}
.container {
  width: 80%;
  margin: 0 auto;
  background: #edf3f8;
  height: 200vh;
}

/* General Components */

/* Buttons */
.btn-1 {
  color: var(--primary-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Public Sans;
  border-radius: 24px;
  font-weight: bold;
  font-size: 15px;
  width: 173px;
  height: 48px;
  background: var(--primary-color-1);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  cursor: pointer;
}
.btn-1:hover {
  background: rgba(218, 109, 151, 1);
}

.btn-1-disabled {
  cursor: default;
  background: rgba(218, 109, 151, 1);
  opacity: 0.5;
}
.btn-2 {
  color: var(--primary-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Public Sans;
  border-radius: 24px;
  font-weight: bold;
  font-size: 15px;
  width: 129px;
  height: 48px;
  border: 1px solid #fbfcfe;
  cursor: pointer;
}
.btn-2:hover {
  background: #ffffff;
  color: var(--secondary-color-2);
}

.btn-2-disabled {
  cursor: default;
  opacity: 0.5;
}
.btn-2-disabled:hover {
  background: none;
  color: #ffffff;
}

.btn-3 {
  color: var(--secondary-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Public Sans;
  border-radius: 24px;
  font-weight: bold;
  font-size: 15px;
  width: 152px;
  height: 48px;
  border: var(--secondary-color-1) solid 1px;
  cursor: pointer;
}
.btn-3:hover {
  background: var(--secondary-color-1);
  color: var(--primary-color-2);
}

.btn-3-disabled {
  cursor: default;
  opacity: 0.5;
}
.btn-3-disabled:hover {
  background: none;
  color: var(--secondary-color-1);
}

@media screen and (max-width: 768px) {
  .btn-1 {
    width: 327px;
  }
  .btn-3 {
    width: 168px;
  }
}

/* Text Fields */
form {
  display: flex;
  flex-direction: column;
}
.form .title {
  font-family: DM Serif Display;
  font-size: 56px;
  color: var(--secondary-color-1);
  padding-bottom: 43px;
}
.input-field {
  margin-bottom: 24px;
}
input {
  padding-left: 20px;
  opacity: 0.5;
  border: none;
  width: 284px;
  height: 42px;
  border-bottom: var(--secondary-color-1) solid 1px;
  word-wrap: normal;
  background: none;
  font-size: 15px;
  font-weight: normal;
  outline: none;
  color: var(--secondary-color-1);
  resize: none;
}

input:focus {
  border-bottom: var(--secondary-color-1) solid 1px;
  opacity: 1;
}
/* .active-text-field {
  opacity: 1;
  border-bottom: var(--secondary-color-1) solid 1px;
} */

.inputs p {
  color: #ff0000;
  opacity: 0.5;
  font-weight: normal;
  font-size: 11px;
  padding-left: 20px;
  padding-top: 8px;
}
.text-error {
  border-bottom: #ff0000 solid 1px;
}
.text-error::placeholder {
  color: #ff0000;
}
.message-input-field {
  margin-bottom: 24px;
}
.message-input-field .form-control {
  position: relative;
  height: 75px;
}
.message-input-field input::placeholder {
  position: absolute;
}

.checkbox-container {
  display: flex;
  position: relative;
  height: 200px;
  width: 200px;
  border: 1px black solid;
  align-items: center;
  justify-content: center;
}
.checkbox {
  padding: 0;
  width: 80px;
  height: 80px;
  appearance: none;
  background-color: #d5d5d5;
  opacity: 0.25;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox::after {
  content: url(./check-solid.svg);
  position: absolute;
  width: 24px;
  display: none;
}

.checkbox:checked {
  background: var(--primary-color-1);
}
.checkbox:checked::after {
  display: block;
}
