* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Public Sans;
}
:root {
  --primary-color-1: #ba4270;
  --primary-color-2: #fbfcfe;
  --secondary-color-1: #36536b;
  --secondary-color-2: #1b262f;
  --secondary-color-3: #da6d97;
  --secondary-color-4: #6c8294;
}
body {
  margin-top: 3rem;
  background: lightsteelblue;
}
.padding-x {
  padding: 0 10%;
}
.container {
  position: relative;
  padding: 0 7%;
  margin: 0 auto;
  background: #edf3f8;
  height: 200vh;
}

/* General Components */

/* Buttons */
.btn-1 {
  color: var(--primary-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Public Sans;
  border-radius: 24px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  width: 173px;
  height: 48px;
  background: var(--primary-color-1);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  cursor: pointer;
}
.btn-1:hover {
  background: rgba(218, 109, 151, 1);
}

.btn-1-disabled {
  cursor: default;
  background: rgba(218, 109, 151, 1);
  opacity: 0.5;
}
.btn-2 {
  color: var(--primary-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Public Sans;
  border-radius: 24px;
  font-weight: bold;
  font-size: 15px;
  width: 129px;
  height: 48px;
  border: 1px solid #fbfcfe;
  cursor: pointer;
  background: none;
}
.btn-2:hover {
  background: #ffffff;
  color: var(--secondary-color-2);
}

.btn-2-disabled {
  cursor: default;
  opacity: 0.5;
}
.btn-2-disabled:hover {
  background: none;
  color: #ffffff;
}

.btn-3 {
  color: var(--secondary-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Public Sans;
  border-radius: 24px;
  font-weight: bold;
  font-size: 15px;
  width: 152px;
  height: 48px;
  border: var(--secondary-color-1) solid 1px;
  cursor: pointer;
  background: none;
}
.btn-3:hover {
  background: var(--secondary-color-1);
  color: var(--primary-color-2);
}

.btn-3-disabled {
  cursor: default;
  opacity: 0.5;
}
.btn-3-disabled:hover {
  background: none;
  color: var(--secondary-color-1);
}

@media screen and (max-width: 768px) {
  .btn-1 {
    width: 327px;
  }
  .btn-3 {
    width: 168px;
  }
}
.email-input-container {
  width: 445px;
  height: 48px;
  display: flex;
  position: relative;

  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}
.email-input-container input {
  border-radius: 24px;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 27px;
  font-size: 15px;
  font-weight: bold;
  color: #36536b;
}
.email-input-container input::placeholder {
  color: #36536b;
  opacity: 0.5;
  font-size: 15px;
}
.email-input-container button {
  position: absolute;
  right: 0;
}
.title-info {
  display: flex;
  flex-direction: column;
  height: 164px;
  width: 445px;
}
.title-info h2 {
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: #36536b;
  margin-bottom: 24px;
}
.title-info p {
  font-size: 15px;
  color: var(--secondary-color-4);
}
/* Text Fields */
/* -------------------------------
-------------------------------
-------------------------------
-------------------------------
-------------------------------
------------------------------- */
.feature {
  display: flex;
  align-items: center;
}

.feature2 {
  display: flex;
  gap: 95px;
}
.feature2-phones {
  display: flex;
  justify-self: flex-end;
}
.feature2-phones .phone {
  margin-right: 40px;
}

@media screen and (max-width: 1024px) {
  .feature {
    flex-direction: column;
  }
}

/* Banner */
.banner {
  display: flex;
  align-items: center;
  background: var(--secondary-color-2);
  padding: 6rem;
}
.banner-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}
.banner-info h1 {
  font-weight: normal;
  font-size: 48px;
  color: var(--primary-color-2);
  font-family: DM Serif Display;
}
.banner-info p {
  color: var(--primary-color-2);
  font-size: 15px;
  opacity: 0.7;
  width: 85%;
  line-height: 28px;
}

.banner-logos {
  width: 536px;
  height: 103px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.banner-logos img {
  width: 25%;
  margin-right: 1rem;
}
/* .logos-1,
.logos-2 {
  display: flex;
  justify-content: space-between;
}
.logos-1 img,
.logos-2 img {
  margin-right: 1rem;
}
.logos-1 {
  margin-bottom: 3rem;
} */

@media screen and (max-width: 1024px) {
  .banner {
    flex-direction: column-reverse;
    padding: 4rem;
  }
  .banner-info {
    width: 100%;
    margin-top: 3rem;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 0;
  }
  .logos-1,
  .logos-2 {
    max-width: 80%;
  }
  .logos-1 img,
  .logos-2 img {
  }
  .banner-info h1 {
    font-size: 32px;
  }
  .banner-info p {
    font-size: 15px;
  }
}
