* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Public Sans;
}
:root {
  --primary-color-1: #ba4270;
  --primary-color-2: #fbfcfe;
  --secondary-color-1: #36536b;
  --secondary-color-2: #1b262f;
  --secondary-color-3: #da6d97;
  --secondary-color-4: #6c8294;
}
body {
  margin-top: 3rem;
  background: lightsteelblue;
}

.container {
  position: relative;
  padding: 0 7%;
  margin: 0 auto;
  background: #edf3f8;
}

/* General Components */

/* Buttons */
.btn-1 {
  color: var(--primary-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Public Sans;
  border-radius: 24px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  width: 173px;
  height: 48px;
  background: var(--primary-color-1);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  cursor: pointer;
}
.btn-1:hover {
  background: rgba(218, 109, 151, 1);
}

.btn-1-disabled {
  cursor: default;
  background: rgba(218, 109, 151, 1);
  opacity: 0.5;
}
.btn-2 {
  color: var(--primary-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Public Sans;
  border-radius: 24px;
  font-weight: bold;
  font-size: 15px;
  width: 129px;
  height: 48px;
  border: 1px solid #fbfcfe;
  cursor: pointer;
  background: none;
}
.btn-2:hover {
  background: #ffffff;
  color: var(--secondary-color-2);
}

.btn-2-disabled {
  cursor: default;
  opacity: 0.5;
}
.btn-2-disabled:hover {
  background: none;
  color: #ffffff;
}

.btn-3 {
  color: var(--secondary-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Public Sans;
  border-radius: 24px;
  font-weight: bold;
  font-size: 15px;
  width: 152px;
  height: 48px;
  border: var(--secondary-color-1) solid 1px;
  cursor: pointer;
  background: none;
}
.btn-3:hover {
  background: var(--secondary-color-1);
  color: var(--primary-color-2);
}

.btn-3-disabled {
  cursor: default;
  opacity: 0.5;
}
.btn-3-disabled:hover {
  background: none;
  color: var(--secondary-color-1);
}

@media screen and (max-width: 768px) {
  .btn-1 {
    width: 327px;
  }
  .btn-3 {
    width: 168px;
  }
}
.email-input-container {
  width: 445px;
  height: 48px;
  display: flex;
  position: relative;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
}
.email-input-container input {
  border-radius: 24px;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 27px;
  font-size: 15px;
  font-weight: bold;
  color: #36536b;
}
.email-input-container input::placeholder {
  color: #36536b;
  opacity: 0.5;
  font-size: 15px;
}
.email-input-container button {
  position: absolute;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .email-input-container button {
    width: 173px;
  }
}
@media screen and (max-width: 768px) {
  .email-input-container {
    justify-content: space-between;
    width: 100%;
    height: 112px;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
  }
  .email-input-container input {
    height: 45%;
  }
  .email-input-container button {
    position: relative;
    width: 100%;
  }
}
.title-info {
  display: flex;
  flex-direction: column;
  height: 164px;
  width: 445px;
}
.title-info h1 {
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #36536b;
  margin-bottom: 24px;
}
.title-info p {
  font-size: 15px;
  line-height: 28px;
  color: var(--secondary-color-4);
}
@media screen and (max-width: 1024px) {
  .title-info {
    text-align: center;
  }
  .title-info h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .title-info h1 {
    font-size: 48px;
    line-height: 48px;
  }
}
@media screen and (max-width: 768px) {
  .title-info h1 {
    font-size: 36px;
  }
}

.page-heading-title {
  width: 50%;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 56px;
  color: #36536b;
  margin-bottom: 72px;
  margin-top: 5rem;
}
@media screen and (max-width: 1024px) {
  .page-heading-title {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .page-heading-title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 40px;
  }
}
/* Ready to start */
.ready-to-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 3.4rem;
  margin-bottom: 6rem;
}
.ready-to-start h1 {
  font-family: DM Serif Display;
  font-size: 48px;
  line-height: 56px;
  color: var(--secondary-color-1);
}
@media screen and (max-width: 1024px) {
  .ready-to-start {
    flex-direction: column;
  }
  .ready-to-start h1 {
    text-align: center;
  }
}
/* Home Page */
.home-page {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.pricing-page {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.company-logos {
  width: 536px;
  height: 103px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.company-logos img {
  width: 25%;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .company-logos {
    width: 100%;
    height: 154px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .company-logos img {
    margin: 1rem;
  }
}
/* -------------------------------
-------------------------------
-------------------------------
-------------------------------
-------------------------------
------------------------------- */
.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-section {
  display: flex;
  align-items: center;
}
.logos-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.logos-section span {
  font-family: DM Serif Display;
  font-size: 24px;
  line-height: 32px;
  color: var(--secondary-color-1);
  opacity: 0.75;
}

@media screen and (max-width: 1024px) {
  .form-section {
    flex-direction: column;
    width: 80%;
  }
  .logos-section span {
    text-align: center;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .form-section {
    width: 100%;
  }
}
