* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Public Sans;
}
:root {
  --primary-color-1: #ba4270;
  --primary-color-2: #fbfcfe;
  --secondary-color-1: #36536b;
  --secondary-color-2: #1b262f;
  --secondary-color-3: #da6d97;
  --secondary-color-4: #6c8294;
}
body {
  margin-top: 3rem;
  background: lightsteelblue;
}
.container {
  padding: 0 7%;
  margin: 0 auto;
  background: #edf3f8;
  height: 200vh;
}

/* General Components */

/* Buttons */
.btn-1 {
  color: var(--primary-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Public Sans;
  border-radius: 24px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  width: 173px;
  height: 48px;
  background: var(--primary-color-1);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  cursor: pointer;
}
.btn-1:hover {
  background: rgba(218, 109, 151, 1);
}

.btn-1-disabled {
  cursor: default;
  background: rgba(218, 109, 151, 1);
  opacity: 0.5;
}
.btn-2 {
  color: var(--primary-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Public Sans;
  border-radius: 24px;
  font-weight: bold;
  font-size: 15px;
  width: 129px;
  height: 48px;
  border: 1px solid #fbfcfe;
  cursor: pointer;
}
.btn-2:hover {
  background: #ffffff;
  color: var(--secondary-color-2);
}

.btn-2-disabled {
  cursor: default;
  opacity: 0.5;
}
.btn-2-disabled:hover {
  background: none;
  color: #ffffff;
}

.btn-3 {
  color: var(--secondary-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Public Sans;
  border-radius: 24px;
  font-weight: bold;
  font-size: 15px;
  width: 152px;
  height: 48px;
  border: var(--secondary-color-1) solid 1px;
  cursor: pointer;
  background: none;
}
.btn-3:hover {
  background: var(--secondary-color-1);
  color: var(--primary-color-2);
}

.btn-3-disabled {
  cursor: default;
  opacity: 0.5;
}
.btn-3-disabled:hover {
  background: none;
  color: var(--secondary-color-1);
}

@media screen and (max-width: 768px) {
  .btn-1 {
    width: 327px;
  }
  .btn-3 {
    width: 168px;
  }
}

/* Text Fields */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navIcon {
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 36.77px;
  flex-basis: 10%;
  justify-content: flex-start;
  align-items: center;
}
.navIcon img {
  margin-right: 8.5px;
}
.navIcon label {
  cursor: pointer;
  color: var(--secondary-color-1);
  font-size: 24px;
  font-weight: bolder;
}
.navIcon-white label {
  color: var(--primary-color-2);
}
.navList {
  margin-right: auto;
  display: flex;
  margin-left: 64px;
}
.navList ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.navList ul li {
  display: flex;
  padding-right: 40px;
  justify-content: center;
  align-items: center;
}
.navList ul li a {
  font-weight: bold;
  font-size: 15px;
  opacity: 0.7;
  color: var(--secondary-color-2);
  text-decoration: none;
}
.navBtn {
}
