.main {
  display: flex;
  align-items: center;
}
.main-info {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}
.main-info h1 {
  margin-bottom: 3rem;
  max-width: 550px;
  line-height: 72px;
  font-size: 72px;
  font-family: DM Serif Display;
  color: var(--secondary-color-1);
}
.main-info p {
  margin-top: 2rem;
  color: var(--secondary-color-4);
  font-size: 15px;
  margin-left: 1.5rem;
}
.main-info p span {
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .main {
    flex-direction: column-reverse;
  }
  .main-info {
    align-items: center;
  }
  .main-info h1 {
    text-align: center;
    line-height: 48px;
    margin-top: 3rem;
    font-size: 48px;
    margin-bottom: 2rem;
  }
  .main-info p {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column-reverse;
  }
  .main-info {
    width: 100%;
  }
  .main-info h1 {
    margin-top: 3rem;
    font-size: 32px;
    margin-bottom: 2rem;
  }
}
