.features-group {
  display: flex;
  gap: 2rem;
}
.features-group .group-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-group .item-icon {
  width: 106px;
  height: 106px;
  background: var(--secondary-color-1);
  border-radius: 50%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.features-group .item-icon img {
  width: 40px;
}
.features-group .item-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: var(--secondary-color-1);
}
.features-group .item-description {
  font-size: 15px;
  text-align: center;
  line-height: 25px;
  color: var(--secondary-color-4);
}

@media screen and (max-width: 1024px) {
  .features-group .item-icon {
    width: 88px;
    height: 88px;
  }
  .features-group .item-icon img {
    width: 30px;
  }
}
@media screen and (max-width: 768px) {
  .features-group {
    flex-direction: column;
    gap: 3rem;
  }
  .features-group .item-icon {
    width: 106px;
    height: 106px;
  }
  .features-group .item-icon img {
    width: 40px;
  }
}
