/* Features */
.features {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 2rem;
}
/* Feature 1 */
.feature1 {
  display: flex;
  align-items: center;
}
.feature1 h1 {
  font-size: 48px;
}
@media screen and (max-width: 1024px) {
  .feature1 {
    flex-direction: column;
  }
  .feature1 img {
    width: 80%;
    height: 80%;
    margin-left: 4rem;
  }
  .feature1 .title-info {
    margin-top: -2rem;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .feature1 img {
    width: 120%;
    height: 100%;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .feature1 .title-info {
    width: 100%;
    margin-right: 2rem;
    margin-top: -4rem;
  }
  .feature1 h1 {
    font-size: 36px;
  }
}

/* Feature 2 */
.feature2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature2 .title-info {
  width: 100%;
  margin-right: 1rem;
}
.feature2-phones {
  display: flex;
  gap: 3rem;
}
.feature2 .screen {
  background: var(--secondary-color-1);
}
@media screen and (max-width: 1024px) {
  .feature2 {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .feature2-phones {
    gap: 2rem;
  }
}
@media screen and (max-width: 758px) {
  .feature2 {
    gap: 2rem;
  }
  .feature2-phones {
    gap: 1.5rem;
  }
}
